:root {
  --brand-blue: #2196f3;
  --background-grey: #2f303a;
  --light-grey: #757575;
  --lighter-grey: #f5f4fa;
  --darkest: #212121;
  --white: #fff;
  --black: #000;
  --transparent-white: rgba(255, 255, 255, 60%);
  --white-ten: rgba(255, 255, 255, 10%);
  --line-light: #ececec;
  --leaflet-border: #eee;
  --social-icon: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--darkest);
  background-color: var(--white);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: var(--brand-blue);
  line-height: 1.2;
}
.logo-upper {
  color: var(--black);
}
.logo-bottom {
  color: var(--white);
}
.line {
  border-top: 1px solid var(--line-light);
}
.tel-mail {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.tel-mail-icon {
  margin-right: 10px;
}
.tel-mail-link {
  fill: var(--light-grey);
  font-weight: 500;
  color: var(--light-grey);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-align: right;
}

.tel-mail-link:hover,
.tel-mail-link:focus {
  color: var(--brand-blue);
  fill: var(--brand-blue);
}
.nav {
  display: flex;
  align-items: center;
}
.nav-link {
  color: var(--darkest);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-blue);
}
.nav-link-current {
  color: var(--brand-blue);
}
.slogan-section {
  background-color: var(--background-grey);
  background-image: url(/images/overlay.png), url(/images/background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
.slogan {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  color: var(--white);
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
}
.button-order {
  background-color: var(--brand-blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.06em;
  line-height: 1.9;
  padding: 10px 41px;
  margin: 30px auto 0;
}
.advantage-icon {
  background-color: var(--lighter-grey);
  padding: 25px 100px;
}
.advantage {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.1;
}
.advantage-text {
  line-height: 1.7;
  color: var(--light-grey);
  margin-top: 10px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.team-box {
  background-color: var(--lighter-grey);
}
.member-box {
  background-color: var(--white);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-text {
  padding-top: 30px;
  text-align: center;
}
.member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.position {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.2;
  margin-top: 10px;
}
.social-links {
  display: flex;
  margin-top: 16px;
  padding: 0px 32px 30px;
  justify-content: space-between;
}
.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: var(--white);
  fill: var(--social-icon);
}
.circle:hover,
.circle:focus {
  background-color: var(--brand-blue);
  fill: var(--white);
}
.circle-bottom {
  background-color: var(--white-ten);
  fill: var(--white);
}
.bottom-box {
  background-color: var(--background-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-links a {
  line-height: 1.7;
}
.address-links a:hover {
  color: var(--brand-blue);
}
.address-links a:focus {
  color: var(--brand-blue);
}
.bottom-address {
  color: var(--white);
}
.bottom-tel-mail {
  color: var(--transparent-white);
}
.filter-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkest);
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-color: var(--lighter-grey);
  padding: 6px 25px;
}
.filter-button:hover:hover,
.filter-button:focus:focus,
.filter-button:active:active {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.9;
  margin-top: 4px;
}
.project-text {
  padding: 20px 24px;
  border-left: 1px solid var(--leaflet-border);
  border-right: 1px solid var(--leaflet-border);
  border-bottom: 1px solid var(--leaflet-border);
}
.menu-container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-line {
  border-bottom: 1px solid var(--line-light);
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-left: 93px;
}
.advantage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantage-item {
  flex-basis: calc((100% - 90px) / 4);
}
.jobs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.jobs-section {
  padding-top: 0;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.address-margin {
  margin-top: 20px;
}
.address-container li:not(:last-child) {
  margin-bottom: 9px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.client-box {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.client-card {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  fill: var(--social-icon);
}
.client-card:hover,
.client.card:focus {
  border-color: var(--brand-blue);
  fill: var(--brand-blue);
}
.invite {
  line-height: 1.14;
  color: var(--white);
  text-transform: uppercase;
}
.invite-box {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.social-links-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-box {
  display: flex;
}
.project-shadow{cursor: pointer;}
.project-shadow:hover,
.project-shadow:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}